.wrapper__channel {
  padding: 5px;
  height: 100px;
  &:hover {
    background-color: #d3d3d3;
  }
}

.lastMessage__truncate {
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
