.wrapper {
  border-radius: 10%;
  color: white;
  max-width: 50%;
  margin: 5px;
}
.myMessage {
  display: flex;
  align-self: flex-end;
  background-color: #d9c5f3;
}
.notMyMessage {
  display: flex;
  align-self: flex-start;
  background-color: #86b0d8;
}
.message {
  word-wrap: break-word;
  margin: 15px;
}
