.wrapper
  border: 1px solid #666
  border-radius: 5%
  margin-top: 5px
  margin-bottom: 5px
  color: white
  max-width: 50%

.myMessage
  background-color: #cbfafa

.notMyMessage
  background-color: #86d8bd
