.form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 1px solid #cecece;
    border-radius: 15%;
    width: 60%;
    height: 70%;
    padding: 10%;
  }
  &__submit {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.redirect__wrapper {
  margin-top: auto;
}
