.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  border: 1px solid #cecece;
  border-radius: 20%;
  align-self: center;
  padding: 15px;
}

.redirect__wrapper {
  margin-top: auto;
}
