.wrapper__channel {
  margin: 10px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 15%;
  color: #d8d8d8;
  height: 100px;
  width: 250px;
}

.active {
  background-color: rgb(213, 223, 233);
}
