.wrapper__channel {
  padding: 5px;
  height: 80px;
}

.active {
  background-color: #cccccc;
  color: white;
}

.lastMessage__truncate {
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
